
# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Environment variables / secrets
.env

# Django
db.sqlite3
*.log

# Static / media
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PyCharm
*.iml

# Jupyter
.ipynb_checkpoints/